.container1{
    height: 1000px;
    width: 1000px;
    border: 1px solid black;
    display: flex;
    overflow: hidden;
}
.box1{
    height: 150px;
    width: 500px;
    border: 1px solid black;
    margin-left: 100px;
    margin-top: 100px;
}
.row1{
    width: inherit;
    height: 75px;
    border: 1px solid blue;
}
.row2{
    width: inherit;
    height: 75px;
    border: 1px solid green;
}
.row2 p{
    margin-left: 20px;
}
.col1{
    height: inherit;
    width: 240px;
    border: 1px solid orange;
    display: inline-block;
}
.col1 h3{
    margin-left: 20px;
}
.col2{
    height: inherit;
    width: 120px;
    border: 1px solid red;
    display: inline-block;
    text-align: center;
}
.col3{
    height: inherit;
    width: 120px;
    border: 1px solid purple;
    display: inline-block;
    vertical-align: top;
}
.col3 button{
    position:relative;
    top:30%; 
    left:30%; 
}
button{
    background-color: orange;
    color: black;
    height: 40%;
    width: 40%;
}

